/***** VARIABLES *****/
/***** MIXINS *****/
/***** GENERAL *****/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

/***** BODY *****/
.main-container {
  min-width: 320px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 0rem 0.7rem;
  position: relative;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 2px 2px #cbcbcb;
}
.header__logo {
  height: 30px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px #cbcbcb;
}
.localisation__text {
  padding-left: 1rem;
}

.btn {
  padding: 1rem 1.5rem;
  margin: 1rem 0rem;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 15px #b4b4b4;
  border: 0px;
  border-radius: 2rem;
  /***** ANIMATION DU BOUTON *****/
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgb(255, 141.4, 223.6328358209), rgb(157.8, 102.9, 223.5));
  box-shadow: 0px 5px 15px #cbcbcb;
  border: 0px;
  border-radius: 2rem;
  opacity: 0;
  transition: opacity 250ms;
}
.btn:hover::before {
  opacity: 1;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 2rem 2rem;
  text-align: center;
  background-color: #f6f6f6;
}
.presentation__title {
  font-size: 1.5rem;
  font-weight: 500;
}
.presentation__subtitle {
  font-size: 1.1rem;
  font-weight: 200;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1.5rem;
}
.fonctionnement__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0rem 0rem 1rem 0.3rem;
}
@media (min-width: 768px) {
  .fonctionnement__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
.fonctionnement__button {
  position: relative;
  display: flex;
  gap: 1.5rem;
  padding: 1.7rem 2.3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #f6f6f6;
  border: 0px;
  border-radius: 1.2rem;
  box-shadow: 0px 6px 6px #eaeaea;
}
.fonctionnement__button-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  left: -0.7rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}
.fonctionnement__button-icon {
  font-size: 1.1rem;
}
.fonctionnement__button-icon--neutral {
  color: #797979;
}
.fonctionnement__button-icon--purple {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1.5rem 4rem;
  width: 100%;
  background-color: #f6f6f6;
}
.restaurants__section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
@media (min-width: 768px) {
  .restaurants__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 5rem;
  }
}
.restaurants__card__link {
  color: inherit;
  text-decoration: none;
}
.restaurants__card__image-container {
  position: relative;
  height: 11rem;
}
.restaurants__card__image-container__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}
.restaurants__card__image-container__nouveau {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(38.7404580153, 136.2595419847, 112.213740458);
  background-color: #99E2D0;
  border-radius: 0.2rem;
}
.restaurants__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  padding-right: 1.5rem;
  background-color: white;
  border-radius: 0rem 0rem 1rem 1rem;
}
.restaurants__card__content__text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.restaurants__card__content__text-subtitle {
  font-size: 1.1rem;
  font-weight: 200;
}
.restaurants__card__content__heart {
  font-size: 1.5rem;
  position: relative;
}
.restaurants__card__content__heart::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  transform: scale(0);
}
.restaurants__card__content .heart-checkbox input {
  display: none;
}
.heart-checkbox input:checked + .restaurants__card__content__heart::after {
  animation: heart-in 250ms forwards;
}
.heart-checkbox input:not(:checked) + .restaurants__card__content__heart::after {
  animation: heart-out 250ms ease-in;
}

@keyframes heart-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes heart-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  color: white;
  background-color: #353535;
}
.footer__title {
  font-family: "Shrikhand", serif;
  font-size: 1.2rem;
  font-weight: 200;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__content__icon {
  padding-right: 0.5rem;
  font-size: 1rem;
}
.footer__content__link {
  color: inherit;
  text-decoration: none;
}
.footer__content__link--bold {
  font-weight: 500;
}
@media (min-width: 768px) {
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 8rem 1fr;
    gap: 0.7rem;
  }
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    gap: 0rem;
    padding: 4rem 4rem 2rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
