@charset "UTF-8";
/***** VARIABLES *****/
/***** MIXINS *****/
/***** GENERAL *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

/***** BODY *****/
.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px #cbcbcb;
  padding: 1.3rem 0rem 0.7rem;
  /* Pour rendre l'ombre portée visible */
  position: relative;
  z-index: 2;
  background-color: white;
}
.header__logo {
  height: 30px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px #cbcbcb;
  padding: 1rem 2rem;
  /* Pour rendre l'ombre portée visible */
  position: relative;
  z-index: 1;
  background-color: #eaeaea;
}
.localisation__text {
  padding-left: 1rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 2rem 2rem;
  text-align: center;
  background-color: #f6f6f6;
}
.presentation__title {
  font-size: 1.5rem;
  font-weight: 500;
}
.presentation__subtitle {
  font-size: 1.1rem;
  font-weight: 200;
}
.presentation__button {
  box-shadow: 0px 6px 6px #cbcbcb;
  padding: 1rem 1.5rem;
  margin: 1rem 0rem;
  font-size: 1rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px;
  border-radius: 2rem;
}
.presentation__button:hover {
  box-shadow: 0px 6px 6px #a8a8a8;
  background: linear-gradient(rgb(255, 146.5, 225.0410447761), rgb(160.5, 107.125, 224.375));
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1.5rem;
}
.fonctionnement__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0rem 0rem 1rem 0.3rem;
}
.fonctionnement__button {
  box-shadow: 0px 6px 6px #eaeaea;
  display: flex;
  gap: 1.5rem;
  padding: 1.7rem 2.3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #f6f6f6;
  border: 0px;
  border-radius: 1.2rem;
}
.fonctionnement__button-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 1.2rem;
  font-size: 0.8rem;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}
.fonctionnement__button-icon {
  font-size: 1.1rem;
}
.fonctionnement__button-icon--neutral {
  color: #797979;
}
.fonctionnement__button-icon--purple {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1.5rem;
  background-color: #f6f6f6;
}
.restaurants__section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.restaurants__card__link {
  color: inherit;
  text-decoration: none;
}
.restaurants__card__image-container {
  position: relative;
  height: 11rem;
}
.restaurants__card__image-container__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}
.restaurants__card__image-container__nouveau {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(38.7404580153, 136.2595419847, 112.213740458);
  background-color: #99E2D0;
  border-radius: 0.2rem;
}
.restaurants__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  padding-right: 1.5rem;
  background-color: white;
  border-radius: 0rem 0rem 1rem 1rem;
}
.restaurants__card__content__text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.restaurants__card__content__text-subtitle {
  font-size: 1.1rem;
  font-weight: 200;
}
.restaurants__card__content__heart {
  font-size: 1.5rem;
}
.restaurants__card__content__heart--purple:hover {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
}

.footer {
  margin-top: 1rem;
  padding: 0rem 0rem 1rem 1.5rem;
  color: white;
  background-color: #353535;
}
.footer__title {
  padding: 1.1rem 0rem 1.1rem;
  font-family: "Shrikhand", serif;
  font-size: 1.2rem;
  font-weight: 200;
}
.footer__content__link {
  padding-bottom: 0.5rem;
}
.footer__content__link-icon {
  padding-right: 0.5rem;
  font-size: 1rem;
}
.footer__content__link-text {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
