/***** VARIABLES *****/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-font: 'Shrikhand', serif;
$secondary-font: 'Roboto', serif;
$primary-background-color: white;
$secondary-background-color: #f6f6f6;
$location-background-color: #eaeaea;
$footer-background-color: #353535;
$light-font-weight: 200;
$bold-font-weight: 500;
$dark-box-shadow: #cbcbcb;
$darker-box-shadow: #b4b4b4;
$light-box-shadow: #eaeaea;

/***** MIXINS *****/
@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

/***** GENERAL *****/
* {
    margin: 0;
    padding: 0;
    font-family: $secondary-font;
    box-sizing: border-box;
}

/***** BODY *****/
body {
    min-width: 320px;
}

.limit-content {
    @include flexColumn();
    gap: 1.5rem;
    padding: 3rem 1.5rem;
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    @include flexMid();
    width: 100%;
    padding: 1.3rem 0rem 0.7rem;
    position: relative;
    z-index: 2;     // pour rendre l'ombre portée visible

    background-color: $primary-background-color;
    box-shadow: 0px 2px 2px $dark-box-shadow;

    &__logo { height: 30px; }

    &__arrow {
        position: absolute;
        left: 1.5rem;

        font-size: 1.5rem;
        color: inherit;
        text-decoration: none;
    }

    @media (min-width: 768px) {
        padding: 2rem 0rem;
        &__logo { height: 35px; }
        &__arrow { display: none; }
    }
}

.localisation {
    @include flexMid();
    width: 100%;
    padding: 1rem 0rem;
    position: relative;
    z-index: 1;     // pour rendre l'ombre portée visible

    color: $footer-background-color;
    background-color: $location-background-color;
    box-shadow: 0px 4px 4px $dark-box-shadow;

    &__text {
        margin-left: 1rem;
        border: none;
        width: 7rem;

        font-size: 1rem;
        color: $footer-background-color;
        background-color: $location-background-color;
        
        &::placeholder {
            font-size: 1rem;
            color: $footer-background-color;
        }
    }
}

.button {
    padding: 1rem 1.5rem;
    margin: 1rem 0rem;
    position: relative;
    z-index: 1;

    font-size: 1rem;
    color: white;

    background: linear-gradient($secondary-color, $primary-color);
    box-shadow: 0px 5px 15px $darker-box-shadow;
    border: 0px;
    border-radius: 2rem;
    cursor: pointer;

    /***** ANIMATION DU BOUTON *****/
    &::before {
        content: "";
        position: absolute;     // on positionne ce "calque"
        z-index: -1;            // précisément au même endroit
        top: 0;                 // en-dessous (::before) du bouton d'origine
        bottom: 0;              // pour ne pas masquer le texte
        left: 0;
        right: 0;
        
        background: linear-gradient(lighten($secondary-color, 4), lighten($primary-color,4));
        box-shadow: 0px 5px 15px $dark-box-shadow;
        border: 0px;
        border-radius: 2rem;

        opacity: 0;
        transition: opacity 250ms;
    }
    &:hover {
        &::before {             // on favorise opacity à un simple background-color
            opacity: 1;         // pour des questions de performances
        }
    }

    &--menu {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.presentation {
    @include flexColumn();

    align-items: center;
    gap: 1rem;
    padding: 2.5rem 2rem 2rem;

    text-align: center;

    background-color: $secondary-background-color;

    &__title {
        font-size: 1.5rem;
        font-weight: $bold-font-weight;

        @media (min-width: 768px) {
            font-size: 2.5rem;
        }
    }

    &__subtitle {
        font-size: 1.1rem;
        font-weight: $light-font-weight;
    }
}

.fonctionnement {
    &__list {
        @include flexColumn();

        gap: 1.5rem;
        padding: 0rem 0rem 1rem 0.3rem;
    }

    &__step {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1.7rem 2.3rem;

        font-size: 1rem;
        font-weight: $bold-font-weight;

        background-color: $secondary-background-color;
        border: 0px;
        border-radius: 1.2rem;
        box-shadow: 0px 6px 6px $light-box-shadow;
    }
    
    &__number {
        @include flexMid();
        position: absolute;
        left: -0.7rem;
        width: 1.5rem;
        height: 1.5rem;

        font-size: 0.8rem;
        color: white;

        background-color: $primary-color;
        border-radius: 50%;
    }

    &__icon {
        font-size: 1.1rem;

        &--neutral { color: #797979; }

        &--purple { color: $primary-color; }
    }

    @media (min-width: 768px) {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.5rem;
        }
    }
}

.main {
    background-color: $secondary-background-color;
}

.restaurants {
    @include flexColumn();
    gap: 1.5rem;
    max-width: 1024px;
    margin: 0 auto;
    padding: 3rem 1.5rem 4rem;

    &__list {
        @include flexColumn();
        gap: 1.2rem;
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }

    &__image-container {
        position: relative;
        height: 11rem;   
    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 1rem 1rem 0rem 0rem;
    }

    &__new {
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 0.4rem 0.8rem;

        font-size: 0.9rem;
        font-weight: $bold-font-weight;
        color: darken($tertiary-color, 40%);

        background-color: $tertiary-color;
        border-radius: 0.2rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.9rem;
        padding-right: 1.5rem;

        background-color: $primary-background-color;
        border-radius: 0rem 0rem 1rem 1rem;
    }

    &__text {
        @include flexColumn();
        gap: 0.3rem;
    }

    &__subtitle {
        font-size: 1.1rem;
        font-weight: $light-font-weight;
    }

    @media (min-width: 768px) {
        padding: 3rem 1.5rem 3rem;
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem 5rem;
        }
    }
}

.heart {
    font-size: 1.5rem;
    position: relative;

    &::after {
        content: "\f004";                       
        font-family: "Font Awesome 6 Free";     // on positionne la version remplie du coeur
        font-weight: 900;                       // par-dessus (::after) la version regular
        position: absolute;                     // précisément au même endroit
        top: 0;                 
        bottom: 0;
        left: 0;
        right: 0;

        background: linear-gradient(to bottom, $primary-color, $secondary-color);
        background-clip: text;                
        color: transparent;                     // on applique le dégradé sur le coeur
        
        transform: scale(0);                    // on cache ce coeur avant le déclenchement
    }
}

.heart-checkbox {
    .checkbox {
        display: none;

        &:checked + .heart::after {
            animation: heart-in 250ms forwards;
        }

        &:not(:checked) + .heart::after {
            animation: heart-out 250ms ease-in;
        }
    }
}

@keyframes heart-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes heart-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.photo-menu img {
    position: absolute;
    width: 100%;
    height: 17rem;
    object-fit: cover;
    z-index: -1;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin-top: 15rem;
    padding: 2rem 1.5rem;

    border-radius: 2rem 2rem 0rem 0rem;
    background-color: $secondary-background-color;
}

.menu {
    @include flexColumn();
    gap: 2rem;
    width: 100%;

    &__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    

    &__title {
        font-family: $primary-font;
        font-weight: $light-font-weight;
    }

    & .heart-checkbox {
        margin-right: 1rem;
    }

    &__content {
        @include flexColumn();
        gap: 2rem;
    }

    &__section {
        @include flexColumn();
        gap: 1rem;  
    }

    &__section-title {
        display: inline-block;
        position: relative;
        padding-bottom: 0.5rem;

        font-size: 1.1rem;
        font-weight: $light-font-weight;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 2.6rem;
            height: 0.2rem;
            background-color: $tertiary-color;
        }
    }

    &__list {
        @include flexColumn();
        gap: 0.7rem;
    }

    .bandeau {
        position: relative;
        border-radius: 1rem;
        box-shadow: 0px 2px 2px $light-box-shadow;
        overflow: hidden;
    }

    .checkbox-label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .choice {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        right: 0;
        padding: 3rem 1.7rem;
        color: white;
        background-color: $tertiary-color;
        transform: translate(5rem, -50%);
        transition: transform 300ms ease-out;
    }

    .checkbox {
        display: none;

        &:checked + .choice {
            transform: translate(0rem, -50%);
        }

        &:checked ~ .menu__item .menu__subtitle .menu__subtitle-price {
            transform: translateX(-5rem);
        }
    }

    &__item {
        @include flexColumn();
        gap: 0.3rem;
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;

        background-color: white;
    }

    &__item-title {
        font-weight: $bold-font-weight;
    }

    &__subtitle {
        display: flex;
        justify-content: space-between;

        font-weight: $light-font-weight;
    }

    &__subtitle-price {
        transform: translate(0);
        transition: transform 300ms ease-out;
    }
}

.footer {
    @include flexColumn();
    gap: 1.1rem;
    padding: 1.5rem 0rem 1.5rem 1.5rem;

    color: white;
    background-color: $footer-background-color;

    &__title {
        font-family: $primary-font;
        font-size: 1.2rem;
        font-weight: $light-font-weight;
    }

    &__content {
        @include flexColumn();
        gap: 0.5rem;
    }

    &__icon {
        padding-right: 0.5rem;
        font-size: 1rem;
    }

    &__link {
        color: inherit;
        text-decoration: none;

        &--bold {
            font-weight: $bold-font-weight;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row-reverse;
        gap: 0rem;
        padding: 4rem 4rem 2rem 4rem;
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr 8rem 1fr;
            gap: 1rem;
        }
    }
}