/***** VARIABLES *****/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-font: 'Shrikhand', serif;
$secondary-font: 'Roboto', serif;
$primary-background-color: white;
$secondary-background-color: #f6f6f6;
$location-background-color: #eaeaea;
$footer-background-color: #353535;
$light-font-weight: 200;
$bold-font-weight: 500;
$dark-box-shadow: #cbcbcb;
$darker-box-shadow: #a8a8a8;
$light-box-shadow: #eaeaea;

/***** MIXINS *****/
@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin box-shadow($thickness, $heaviness) {
    box-shadow: 0px $thickness $thickness $heaviness;
}

/***** GENERAL *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $secondary-font;
}

/***** BODY *****/
.main-container {
    @include flexColumn();
}

.header {
    @include flexMid();
    @include box-shadow(2px, $dark-box-shadow);

    padding: 1.3rem 0rem 0.7rem;
    /* Pour rendre l'ombre portée visible */
    position: relative;
    z-index: 2;

    background-color: $primary-background-color;

    &__logo { height: 30px; }
}

.localisation {
    @include flexMid();
    @include box-shadow(4px, $dark-box-shadow);
    
    padding: 1rem 2rem;
    /* Pour rendre l'ombre portée visible */
    position: relative;
    z-index: 1;

    background-color: $location-background-color;

    &__text { padding-left: 1rem; }
}

.presentation {
    @include flexColumn();

    align-items: center;
    gap: 1rem;
    padding: 2.5rem 2rem 2rem;

    text-align: center;

    background-color: $secondary-background-color;

    &__title {
        font-size: 1.5rem;
        font-weight: $bold-font-weight;
    }

    &__subtitle {
        font-size: 1.1rem;
        font-weight: $light-font-weight;
    }

    &__button {
        @include box-shadow(6px, $dark-box-shadow);

        padding: 1rem 1.5rem;
        margin: 1rem 0rem;

        font-size: 1rem;
        color: white;

        background: linear-gradient($secondary-color, $primary-color);
        border: 0px;
        border-radius: 2rem;
    
        &:hover {
            @include box-shadow(6px, $darker-box-shadow);
            background: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
        }
    }
}

.fonctionnement {
    @include flexColumn();

    gap: 1.5rem;
    padding: 3rem 1.5rem;

    &__section {
        @include flexColumn();

        gap: 1.5rem;
        padding: 0rem 0rem 1rem 0.3rem;
    }

    &__button {
        @include box-shadow(6px, $light-box-shadow);

        display: flex;
        gap: 1.5rem;
        padding: 1.7rem 2.3rem;

        font-size: 1rem;
        font-weight: $bold-font-weight;

        background-color: $secondary-background-color;
        border: 0px;
        border-radius: 1.2rem;
        
        &-number {
            @include flexMid();

            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            left: 1.2rem;

            font-size: 0.8rem;
            color: white;

            background-color: $primary-color;
            border-radius: 50%;
        }

        &-icon {
            font-size: 1.1rem;

            &--neutral { color: #797979; }

            &--purple { color: $primary-color; }
        }
    }
}

.restaurants {
    @include flexColumn();

    gap: 1.5rem;
    padding: 3rem 1.5rem;

    background-color: $secondary-background-color;

    &__section {
        @include flexColumn();
        gap: 1.2rem;
    }

    &__card {

        &__link {
            color: inherit;
            text-decoration: none;
        }

        &__image-container {
            position: relative;
            height: 11rem;

            &__photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
    
                border-radius: 1rem 1rem 0rem 0rem;
            }
    
            &__nouveau {
                position: absolute;
                right: 1rem;
                top: 1rem;
                padding: 0.4rem 0.8rem;
    
                font-size: 0.9rem;
                font-weight: $bold-font-weight;
                color: darken($tertiary-color, 40%);
    
                background-color: $tertiary-color;
                border-radius: 0.2rem;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.9rem;
            padding-right: 1.5rem;
    
            background-color: $primary-background-color;
            border-radius: 0rem 0rem 1rem 1rem;
    
            &__text {
                @include flexColumn();
                gap: 0.3rem;
    
                &-subtitle {
                    font-size: 1.1rem;
                    font-weight: $light-font-weight;
                }
            }
    
            &__heart {
                font-size: 1.5rem;

                &--purple {
                    &:hover {
                        background: linear-gradient(to bottom, $primary-color, $secondary-color);
                        background-clip: text;
                        color: transparent;
                    }
                }
            }
        }

    }
}

.footer {
    margin-top: 1rem;
    padding: 0rem 0rem 1rem 1.5rem;

    color: white;
    background-color: $footer-background-color;

    &__title {
        padding: 1.1rem 0rem 1.1rem;

        font-family: $primary-font;
        font-size: 1.2rem;
        font-weight: $light-font-weight;
    }

    &__content {
 
        &__link {
            padding-bottom: 0.5rem;

            &-icon {
                padding-right: 0.5rem;
                font-size: 1rem;
            }

            &-text {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}